
body {
  font-family: sans-serif;
  background: #fff;
  color: #111;
  margin: 0;
  padding: 2em;
}
main {
  max-width: 800px;
  margin: auto;
}
h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
nav a {
  margin-right: 1em;
  text-decoration: none;
}
